@import 'tailwindcss';

:root {
    --text-default: #1D1D1F;
}

@theme inline {
  --font-sans: var(--font-lexend);
  --font-mono: var(--font-recursive);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-default);
}
